@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.portofolio {
  color: #1a1b1e;
  background: #a3c1f7;
}

nav {
  /* min-height: 10vh; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.logo {
  font-size: 20px;
}

.page {
  min-height: 95vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}
.hero {
  overflow: hidden;
  height: 400px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  height: 400px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.model-left {
  transform: translate(0%, -10%);
}

.hero:hover .model-left {
  transform: translate(0%, 0%);
}

.model-right {
  transform: translate(0%, 10%);
}

.hero:hover .model-right {
  transform: translate(0%, 0%);
}

.hero img {
  height: 400px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.details {
  grid-column: 2/3;
  align-self: end;
}

.details h1 {
  font-size: 60px;
}

.details h2 {
  font-size: 35px;
  padding: 20px 0px;
}

.details p {
  font-size: 20px;
  padding: 20px 0px 50px 0px;
}

@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }

  .hero {
    grid-column: 2/3;
    height: auto;
  }
  .hero img {
    height: 400px;
  }

  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
}
